//---------- Colors
$black: #000000;
$white: #ffffff;

//---------- Typo
$text-color: $black;

//---------- Breakpoints
$screen-xl-max: 1199px;
$screen-lg-max: 991px;
$screen-md-max: 767px;
$screen-sm-max: 575px;

//---------- Webroot paths
$image-path: '../images' !default;
